S3method(coef,Rchoice)
S3method(df.residual,Rchoice)
S3method(fitted,Rchoice)
S3method(logLik,Rchoice)
S3method(model.matrix,Rchoice)
S3method(plot,Rchoice)
S3method(print,Rchoice)
S3method(print,summary.Rchoice)
S3method(summary,Rchoice)
S3method(terms,Rchoice)
S3method(update,Rchoice)
S3method(vcov,Rchoice)
export(AIC.Rchoice)
export(BIC.Rchoice)
export(Rchoice)
export(bread.Rchoice)
export(cor.Rchoice)
export(cov.Rchoice)
export(estfun.Rchoice)
export(getSummary.Rchoice)
export(nObs.Rchoice)
export(ordinal)
import(Formula)
import(car)
import(ggplot2)
import(lmtest)
import(maxLik)
import(plotrix)
import(sandwich)
